* {
    margin: 0px;
    padding: 0px;
    font-family: 'Jost', sans-serif;
}

/* nav bar */
/* nav bar */

i {
    color: aqua;
}

ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    float: right;
}

li a {
    text-decoration: none;
    color:#85662b;
}
li a:hover {
    background-color: none;
    padding: 10px;
}

li {
    color:brown;
    font-size: 20px;
    margin: 12px;
}
.logo {
height: 24px;
margin: 15px;
}

.navbar {
    background-color: white;
    height: 60px;
    padding: 10px 40px;
    margin: 10px;
}

.fa-solidfa-magnifying-glass{
    background-color: black;
}


/* end of nav bar */
/* end of nav bar */

@media (max-width:650px) {
    li {
        font-size: 15px;
        margin: 6px;

    }
    .logo {
    height: 12px;
    margin: 10px;
    }

}