* {
    margin: 0px;
    padding: 0px;
    font-family: 'Jost', sans-serif;
}

/* nav bar */
/* nav bar */

ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    float: right;
}

li a {
    text-decoration: none;
    color: white;
}
li a:hover {
    background-color: black;
    padding: 15px;
}

li {
    color:brown;
    font-size: 20px;
    margin: 12px;
}
.logo {
height: 24px;
margin: 15px;
}

.navbar {
    background-color: #242423
}

/* end of nav bar */
/* end of nav bar */

/* start of footer */
/* start of footer */

.newsletter {
    background-color: #242423;
    color: white;
    padding: 2rem 10vw;
    border: solid 2px wheat;
}

.newsletter-text h1{
font-size: 25px;
}
i {
    color: white;
    padding: 3px;
    margin: 22px;
    font-size: 18px;
    text-decoration:
}